<div class="container">
	
	<form class="row" (submit)="cadastrar($event)">
		<div class="col-md-6">
			<div class="form-group">
				<label>Título</label>
				<!-- <input (input)="foto.titulo = $event.target.value"
					[value]="foto.titulo" class="form-control" autocomplete="off">
				vamos simplificar esse codigo usando ngModel -->
				<input [(ngModel)]="foto.titulo" name="titulo"
					class="form-control" autocomplete="off">
			</div>
			<div class="form-group"> 
				<label>URL</label>
				<input [(ngModel)]="foto.url" name="url"
					class="form-control" autocomplete="off">
			</div>
			<div class="form-group">
				<label>Descrição</label>
				<textarea [(ngModel)]="foto.descricao" name="descricao"
					class="form-control" autocomplete="off">
				</textarea>
			</div>
			
			<button type="submit" class="btn btn-primary">
				Salvar
			</button>
			<a [routerLink]="['']" class="btn btn-primary">Voltar</a>
			<hr>
		</div>
	</form>
</div>