<div class="jumbotron">
    <h1 class="text-center">AluraPic</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <a [routerLink]="'/cadastro'" class="btn btn-primary">
                        Cadastrar Foto
                    </a>
                </span>
                <input (keyup)="0" placeholder="filtrar pelo título da foto" 
                    class="form-control" #tituloProcurado>
                    <!-- var-textoProcurado ou #tituloProcurado são iguais -->
            </div>
        </div>
        <div class="col-md-6">
            <p>{{tituloProcurado.value}}</p>
        </div>
    </div>
    <div class="row">        
        <painel *ngFor="let foto of fotos | filtroTitulo: tituloProcurado.value" class="col-md-2" 
            [titulo]="foto.titulo | uppercase" >
            <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
        </painel>
    </div>

</div>